img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}


.fb-like{
float: right;
margin-top: -288px;
}

@font-face {
    font-family: 'GFSGoschen-Italic';
    src: url('../fonts/GFSGoschen-Italic.eot');
    src: url('../fonts/GFSGoschen-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GFSGoschen-Italic.ttf') format('truetype'),
         url('../fonts/GFSGoschen-Italic.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#Katalogos .span12 .areaHeader{
  margin-top: 50px;
}

.navbar .nav > li {
    margin-top: 0px;
}

.navbar .nav > li > a {
    color: #f1daa3;
}

.navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
    margin-left: 0px;
	padding: 5px 10px 0px;
}

.eng{
font-family: 'Arizonia';
}

#contactHeader{
font-size: 30px;
text-align: center;
}

#mainPage{
 background-image:url("../img/back.jpg");
 margin-top: 40px;
 /*background-repeat: no-repeat;
    background-size: cover;*/
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: 	0px 1px 3px rgba(0,0,0,0.8);
	 box-shadow:		0px 1px 3px rgba(0,0,0,0.8);
}

#test{
 background-image:url("../img/backHeader.jpg");
 margin-top: 40px;
  margin-left: 0px;
   height: 65px;
 /*background-repeat: no-repeat;
    background-size: cover;*/
}

body {
    background-color: #eac877 ;
	font-family: 'GFSGoschen-Italic';
}

h1{
margin-top: 29px;
margin-left: 20px;
font-size: 50px;
	font-family: 'GFSGoschen-Italic';
}

.text{
margin: 50px  0 0 100px;
font-size: 25px;
font-family: 'GFSGoschen-Italic';
}

 p{
margin: 19px 0 0 0;
font-size: 24px;
font-family: 'GFSGoschen-Italic';
line-height: 29px;
}

.logo{
	margin-top: 5px;
	font-size: 3.5em;
	font-family: 'GFSGoschen-Italic';
	text-align: center;
	line-height: 80px;	
	text-shadow: 1px 3px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);	
}

.areaHeader{
margin-top: 60px;
font-size: 4em;
	font-family: 'GFSGoschen-Italic';
	text-align: center;
	line-height: 80px;
	text-shadow: 1px 3px 2px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=3);		
}


.fb
{
float: left;
margin-left: 80px;
margin-top: -297px;
color: black;
font-size: 30px;
}

li {
margin-top: 10px;
font-size: 24px;
font-family: 'GFSGoschen-Italic';
line-height: 25px;
}

 ul{
   margin: 25px 5px 32px 20px;
}

/* ------------------ PHOTO STYLES ------------------ */

/*Photo Class Must Be Applied to All Images*/
.photo {
	margin: 50px;
	border: 2px solid black;
	position: relative;
	float: left;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
	
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: 	0px 1px 3px rgba(0,0,0,0.8);
	 box-shadow:		0px 1px 3px rgba(0,0,0,0.8);
}

/*Optional Size Change Just to Show That The Tape Still Works*/
.big {
	width: 553px;
}

.paper {
	position: relative;
	float: left;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	height: auto;
}

.photo.right
{
margin-left: -20px;
}

.text.left
{
   margin-left: 30px;
    margin-right: 20px;
}

.row
{
margin-top: -40px;
}

.row1
{
margin-top: 30px;
margin-left: 0px;
}

.row2
{
margin-left: 0px;
}
.row4
{
margin-left: 20px;
}

.row5
{
margin-left: 20px;
margin-bottom: 300px;
}
/*
.row3
{
margin-top: -10px;
}*/

#paperText1
{
 background-image:url("../img/paperText1Test280small.png");
 background-repeat: no-repeat;
    background-size: cover;
}

#paperText2
{
 background-image:url("../img/paperText8.330small.png");
 background-repeat: no-repeat;
    background-size: cover;
}

#paperText3
{
 background-image:url("../img/paperText6.360small.png");
 background-repeat: no-repeat;
    background-size: cover;
	 margin-top: 40px;
}

#paperText4
{
 background-image:url("../img/paperText1Test280small.png");
 background-repeat: no-repeat;
    background-size: cover;
}

.row2 .span6
{
margin-left: 50px;
margin-top: 70px;
}

.row4 .span6
{
margin-left: 50px;
margin-top: 90px;
}

.row4 .span6 .paper.tapethree:before, .row4 .span6 .paper.tapefour:before {
	margin: 15px 0 0 -25px;
}

.row5 .span6
{
margin-left: 50px;
margin-top: 60px;
}

.row5 .span6 .paper.tapethree:before, .row5 .span6 .paper.tapefour:before {
	margin: 15px 0 0 -25px;
}

.paper.tapeone:before, .paper.tapetwo:before
{
margin-top: -11px;
}

.paper.tapesix:before
{
margin-left: -62px;
}

.row2 .paper.tapeone:before, .row2 .paper.tapetwo:before
{
margin-top: -6px;
}


.row4 .paper.tapefour:after {
	margin: -45px 0 0 -120px;
}

.row5 .paper.tapefour:after {
	margin: -45px 0 0 -120px;
}

p.eng
{
margin-top : -5px;
}

.cleartext
{
margin: 19px;
}

#paperText1 .cleartext
{
margin: 1px 5px 14px 10px;
}

#paperText2 .cleartext
{
margin: 30px 15px 5px 25px;
}

#paperText3 .cleartext
{
    margin: 30px 20px 100px 30px;
}

#paperText4 .cleartext
{
margin: 1px 5px 14px 10px;
}

#Contact .span12
{
margin-bottom: 40px;
}

#Contact .cleartext
{
margin-bottom: 30px;
}


/* ------------------ CLEAR FIX ------------------ */
/* For modern browsers */
#container:before,
#container:after {
    content:"";
    display:table;
}

#container:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
#container {
    zoom:1;
}


/* ------------------ BULK TAPE STYLES ------------------ */
.tapeone:before, .tapetwo:before, .tapetwo:after, .tapethree:before, .tapethree:after, .tapefour:before, .tapefour:after, .tapefive:before, .tapefive:after, .tapesix:before, .tapesix:after {
	content: "";
	height: 30px;
	width: 140px;
	background-image:url("../img/tape1S140.png");
	background-repeat: no-repeat;
    background-size: cover;
	position: absolute;
	opacity: 0.8;
}


/* ------------------ INDIVIDUAL TAPE STYLES (PICK ONE AND APPLY IN HTML) ------------------ */
/*Top Center Tape*/
.tapeone:before, .tapetwo:before {
	top: 0%;
	left: 50%;
	margin: -20px 0 0 -50px;
	background-image:url("../img/tape1S140.png");
}

/*Bottom Center Tape*/
.tapetwo:after {
	top: 100%;
	left: 50%;
	margin: -15px 0 0 -50px;
	background-image:url("../img/tape3S140.png");
		-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

/*Top Left Tape*/
.tapethree:before, .tapefour:before {
	top: 0px;
	left: 0%;
	margin: 0 0 0 -50px;
	
	-webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);
	-o-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
	background-image:url("../img/tape5S140.png");
}

/*Top Right Tape*/
.tapethree:after, .tapefive:before {
	top: 0px;
	left: 100%;
	margin: 0 0 0 -90px;
	
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-o-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
		background-image:url("../img/tape3S140.png");
}

/*Bottom Right Tape*/
.tapefour:after {
	top: 100%;
	left: 100%;
	margin: -35px 0 0 -90px;
	
	-webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);
	-o-transform: rotate(140deg);
	-ms-transform: rotate(140deg);
		background-image:url("../img/tape1S140.png");
}

/*Bottom Left Tape*/
.tapefive:after {
	top: 100%;
	left: 0%;
	margin: -30px 0 0 -45px;
	
	-webkit-transform: rotate(220deg);
	-moz-transform: rotate(220deg);
	-o-transform: rotate(220deg);
	-ms-transform: rotate(220deg);
		background-image:url("../img/tape5S140.png");
}

/*Center Left Tape*/
.tapesix:before {
	top: 50%;
	left: 0%;
	margin: -10px 0 0 -70px;
	
		-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

/*Center Left Tape*/
.tapesix:after {
	top: 50%;
	left: 100%;
	margin: -10px 0 0 -70px;
	
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
}









/* line 317, ../sass/screen.sass */
.imageRow {
  *zoom: 1;
  margin: 20px 0;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
/* line 320, ../sass/screen.sass */
.imageRow .single {
  float: left;
}
/* line 322, ../sass/screen.sass */
.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 332, ../sass/screen.sass */
.imageRow .single a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 335, ../sass/screen.sass */
.imageRow .single a:hover {
  background-color: #8ad459;
}
/* line 337, ../sass/screen.sass */
.imageRow .set {
  float: left;
  background: #F1DAA3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-left: 118px;
}
/* line 343, ../sass/screen.sass */
.imageRow .set:hover {
  background: #F1DAA3;
}
/* line 346, ../sass/screen.sass */
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}
/* line 351, ../sass/screen.sass */
.imageRow .set .single a:hover {
  background-color: #8DA9EE;
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 355, ../sass/screen.sass */
.imageRow .set .single.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 358, ../sass/screen.sass */
.imageRow .set .single.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}